.cointainer {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover .shine {
        opacity: 1;
        animation: shine 1s forwards;
    }
}

.shine {
    position: absolute;
    inset: 0;    
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;

    background: linear-gradient(45deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 100%);
    background-size: 200% 200%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@keyframes shine {
    0% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}